<!DOCTYPE html>
<html>
<body>

<h1>Create User</h1>
<form>
    <label for = 'fname'>First Name: </label>
    <input type = 'text' id = 'fname'></input>
    <br>
    <br>
    <label for = 'lname'>Last Name: </label>
    <input type = 'text' id = 'lname'></input>
    <br>
    <br>
    <label for = 'email'>Email: </label>
    <input type = 'email' id = 'email'></input>
    <br>
    <br>
    <label for = 'uname'>Username: </label>
    <input type = 'text' id = 'uname'></input>
    <br>
    <br>
    <label for = 'firstpass'>Password: </label>
    <input type = 'password' id = 'firstpass'></input>
    <br>
    <br>
    <label for = 'secondpass'>Confirm Password: </label>
    <input type = 'password' id = 'secondpass'></input>
    <br>
    <br>
    <input type = 'submit' value = 'submit'>
</form>

</body>
</html>